.chart-container>* {
    max-width: 50%;
}

.App {
    min-height: 100vh;
}

.hero-container {
    height: 100vh;

    .hero-img {
        width: 100%;
        height: 100%;
        top: 0;
        position: fixed;

        img {
            filter: brightness(70%);
            width: 100%;
            height: 100%;
            top: 0;
            object-fit: cover;
            position: absolute;
            animation-name: image-crossfade;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 15s;

            &:nth-of-type(1) {
                animation-delay: 10s;
            }

            &:nth-of-type(2) {
                animation-delay: 5s;
            }

            &:nth-of-type(3) {
                animation-delay: 0s;
            }

        }
    }

    .hero-txt {
        text-align: center;
        font-size: 2rem;
        color: #fff;
        position: fixed;
        z-index: 1;
        font-family: Righteous;
        height: 100%;

        .hero-title {
            height: 50%;
        }

        h1 {
            text-shadow: 0px 0px 12px white;
        }

    }

    .hero-btns-container {
        height: 50%;

        button {
            font-family: Righteous;
            background-color: #c15191;
            padding: 15px;
            border-radius: 10px;
            color: #fff;
            font-size: 1.8rem;
            ;
            top: 180px;
        }

        .scroll-down-arrow {
            z-index: 2;
            align-self: center;
            width: 7em;
            height: 3em;
            font-size: 2.1rem;

            >* {
                fill: #ffffffbd;
                width: 7em;
                height: 3em;
                font-size: 2.1rem;
            }
        }

    }

    //     svg{
    //         animation: heartbeat2 5s ease-in-out 1s infinite reverse both;
    //     }
    // }
}

.welcome-div {
    align-self: flex-end;
    padding: 20px;
    height: rem(400px);
    font-size: rem(15px);

    >* {
        margin: 0 0 1em;
        max-width: 50%;
    }

    .welcome-txt span {
        font-family: Grandstander;
    }
}