.chart-container>* {
    max-width: 50%;
}

.App {
    min-height: 100vh;
}

.hero-container {

    height: 80vh;

    .hero-img {
        width: 100%;
        height: 80vh;
        top: 0;
        position: absolute;

        img {
            filter: brightness(70%);
            width: 100%;
            height: 100%;
            top: 0;
            object-fit: cover;
            position: absolute;
            animation-name: image-crossfade;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 15s;

            &:nth-of-type(1) {
                animation-delay: 10s;
            }

            &:nth-of-type(2) {
                animation-delay: 5s;
            }

            &:nth-of-type(3) {
                animation-delay: 0s;
            }

            // &:nth-of-type(4) {
            //     animation-delay: 0s;
            // }

        }
    }

    .hero-txt {
        font-size: 2rem;
        color: #fff;
        position: relative;
        z-index: 1;

        h1 {
            font-family: Righteous;
            text-shadow: 0px 0px 12px white;
        }

        button {
            font-family: Righteous;
            background-color: #f8f877ba;
            padding: 15px;
            border-radius: 10px;
            color: #fff;
            font-size: 1.8rem;
            position: absolute;
            right: -100px;
            top: 200px;
            box-shadow: 0px 0px 10px 1px black;
        }
    }
}

.welcome-div {
    align-self: flex-end;
    padding: 20px;
    height: rem(400px);
    font-size: rem(15px);

    >* {
        margin: 0 0 1em;
        max-width: 50%;
    }

    .welcome-txt span {
        font-family: Grandstander;
    }
}