.chart-container > * {
    max-width: 50%;
}

.App {
    min-height: 100vh;
}

.hero-container {
    background-image: url("../../img/hero1.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 80vh;

    .hero-txt {
        font-size: 2rem;
        color: #fff;
        position: relative;

        h1 {
            font-family: Kalam;
            text-shadow: 0px 0px 12px white;
        }

        button {
            font-family: Catamaran;
            background-color: #3f940dd9;
            padding: 15px;
            border-radius: 5px;
            color: #fff;
            font-size: 2.2rem;
            position: absolute;
            right: -100px;
            top: 200px;
            box-shadow: 0px 0px 10px 1px black;
        }
    }
}

.welcome-div {
    align-self: flex-end;
    padding: 20px;
    height: rem(400px);
    font-size: rem(15px);

    > * {
        margin: 0 0 1em;
        max-width: 50%;
    }

    .welcome-txt span {
        font-family: Grandstander;
    }
}
