.player-container {
    position: fixed;
    height: 60px;
    width: 65%;
    border-radius: 999px;
    left: 17.5%;
    margin: 0 auto;
    bottom: 15px;
    z-index: 11;
    background-image: url("../../img/fxVE.gif");
    background-size: cover;
    background-position: center;
    padding: 40px 0px;
    font-weight: bold;
    font-size: 1.1rem;
    color: #f5f5f5;
    text-shadow: 0px -1px 2px black;
    overflow: hidden;
    transition: 0.7s;

    // & > * {
    //     transition: 0.7s;
    // }
    .song-time {
        min-width: 180px;

        .player-time {
            font-family: Righteous;
        }
    }

    .player-thumbnail {
        border-radius: 80%;
        width: 100px;
        height: auto;
        margin: 0 10px;
        cursor: pointer;
    }

    .player-title {
        line-height: 1.5em;
        max-height: 3em;
        overflow: hidden;
        text-overflow: ellipsis;
        align-self: center;
        width: 100%;
        opacity: 1;
    }

    .player-controls {
        min-width: 300px;
        padding-inline-end: 20px;
        position: relative;
        // & > * {
        //     cursor: pointer;
        // }
        .player-ctrl-btn {
            border-radius: 45%;
            padding: 5px;

            &:hover {
                transform: scale(1.2);
            }
        }
        .back-to-box {
            position: relative;
            margin: 0 0px 0px 15px;
            height: 70px;
            width: auto;
            &:hover {
                animation: jello-horizontal 1s;
            }
        }
    }
}

.is-playing {
    background-color: white;
    background-blend-mode: darken;
}
.paused {
    background-color: #0a0a0a;
    background-blend-mode: color-burn;
}

.player {
    display: none;
}

.shrunk {
    width: 285px;
    transition: 1s;

    .song-time {
        display: none;
    }

    .player-thumbnail {
        margin: 0;
    }

    .player-title {
        opacity: 0;
    }

    .player-ctrl-btn {
        margin: 2px;

        &:first-child {
            margin-left: 5px;
        }
    }
}
