.player-container {
    .player-capsule {
        grid-area: player;
        position: fixed;
        bottom: 0;
        height: 80px;
        width: 100%;
        background-image: url("../../img/fxVE.gif");
        background-size: cover;
        background-position: center;
        padding: 0 30px;
        font-weight: bold;
        font-size: 1.1rem;
        color: #eee;
        transition: 0.7s;
        z-index: 30;

        &.is-playing {
            background-color: white;
            background-blend-mode: darken;
        }

        &.paused {
            background-color: #171717;
            background-blend-mode: color-burn;
        }
    }

    .song-time {
        flex-grow: 1;

        .player-time {
            font-family: Righteous;
        }
    }

    .player-thumbnail {
        transform: scale(1.4);
        object-fit: cover;
        max-width: rem(80px);
        cursor: pointer;
        margin-inline-end: 15px;
        margin-inline-start: 30px;
    }

    .player-title {
        flex-grow: 1.5;
        font-size: 1rem;
        line-height: 1.5em;
        max-height: 3em;
        overflow: hidden;
        text-overflow: ellipsis;
        align-self: center;
        opacity: 1;
        margin-inline-start: 10px;
    }

    .player-controls {
        padding-inline-end: 20px;
        position: relative;

        .volume-slider {
            color: white;
            width: 50px;
            transform: rotate(270deg);
            &.muted {
                color: #292929;
            }
        }
        .player-ctrl-btn {
            border-radius: 45%;
            padding: 5px;

            &:hover {
                transform: scale(1.2);
            }
        }

        .back-to-box {
            position: relative;
            margin: 0 0px 0px 15px;
            height: 70px;
            width: auto;
            cursor: pointer;

            &:hover {
                animation: jello-horizontal 1s;
            }
        }
    }
}

@media (max-width: 740px) {
    .player-container {
        .player-capsule {
            flex-direction: column-reverse;
            height: 16vh;
        }

        .player-ctrl-btn {
            margin-top: 5px;
            > * {
                font-size: 2.5rem;
            }
        }

        .player-thumbnail,
        .player-ctrl-btn:last-of-type {
            display: none;
        }

        .song-time {
            width: 100%;
        }

        .player-controls {
            justify-content: center;
            width: 100%;
            padding-inline-end: 0;

            .back-to-box {
                position: absolute;
                right: -24px;
                height: 60px;
            }
            .volume-slider {
                display: none;
            }
        }

        .player-title {
            order: 1;
            height: 3ch;
            text-align: center;
        }
    }
}
.duration-slider {
    flex-grow: 1;
    color: white;
    margin: 0 15px;
}
