.box-app {
    min-height: 100vh;
    background-color: $clr1;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 140px;
    position: relative;
    z-index: 10;
    &.homepage-bottom {
        padding-bottom: 40px;
    }
}
