.box-details {
  background-color: #76638d;
  position: relative;
  display: grid;
  overflow: hidden;
  grid-template-rows: 100vh;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "chat-box box-details-main"
    "player player";
}

.box-details-main {
  padding-top: 80px;
  position: relative;
  grid-area: box-details-main;
}

@media (max-width: 740px) {
  .box-details-main {
    grid-column: 1/-1;
  }
}
