.flex {
  display: flex;

  &.space-between {
    justify-content: space-between;
  }

  &.space-evenely {
    justify-content: space-evenly;
  }

  &.space-around {
    justify-content: space-around;
    align-items: center;
  }

  &.justify-center {
    justify-content: center;
  }
  &.justify-end {
    justify-content: flex-end;
  }
  &.align-center {
    align-items: center;
  }

  &.flex-end {
    align-items: flex-end;
  }
  &.align-self-end {
    align-self: flex-end;
  }
  &.column {
    flex-direction: column;
  }

  &.flex-1 {
    flex-grow: 1;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }
  &.align-end {
    align-items: end;
  }
}

/* list-helpers */

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* hide-helpers */
.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}
.active {
  color: rgb(65, 65, 65);
}

.card {
  width: 15rem;
  height: 15rem;
  border: 1px solid #ccc;
  margin: 5px;
}

.faded-btn {
  opacity: 0.7;
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}
