@font-face {
    font-family: Kalam;
    src        : url(../../fonts/Kalam-Regular.ttf);
}

@font-face {
    font-family: Righteous;
    src        : url(../../fonts/Righteous-Regular.ttf);
}

@font-face {
    font-family: ShortStack;
    src        : url(../../fonts/ShortStack-Regular.ttf)
}

@font-face {
    font-family: FjallaOne;
    src        : url(../../fonts/FjallaOne-Regular.ttf)
}

@font-face {
    font-family: Catamaran;
    src        : url(../../fonts/Catamaran-Regular.ttf)
}