@font-face {
    font-family: Righteous;
    src: url(../../fonts/Righteous-Regular.ttf);
}
@font-face {
    font-family: VarelaRound;
    src: url(../../fonts/VarelaRound-Regular.ttf);
    unicode-range: U+0590-05FF;
}