// Colors
$clr1:#18191a;
$clr2: #ffffff12;
$clr3: #8a65aa;
$clr4: #5b3a7b;
$clr5: #bb93dc;
$clr6: #ccc;

// Breakpoints
$mobile-breakpoint: 560px;
$narrow-breakpoint: 860px;
$normal-breakpoint: 960px;