// Colors
$clr1:#18191a;
$clr2: #ffffff12;
$clr3: #9A6FCB;
$clr4: hsl(261, 86%, 20%);
$clr5: #C4ADC9;
$clr6: rgb(219, 219, 219);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 860px;
$normal-breakpoint: 960px;