.box-info {
  color: #fff;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  padding: 0 10px;
  height: rem(200px);
  svg {
    fill: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    padding: 5px;
    z-index: 2;
    font-size: 2rem;
    &:hover {
      fill: $clr3;
    }
  }
  h4 {
    background: #4e4e4e;
    padding: 5px;
    border-radius: 5px;
  }
  .edit-btn {
    display: none;
    position: absolute;
    right: 0;
  }
}

.box-img {
  flex-basis: 250px;
  img {
    object-fit: cover;
    border-radius: 5px;
  }
}

.info-txt {
  flex-basis: 250px;
  flex-grow: 1;
  margin-inline-start: 10px;
}

.info-header {
  &:hover {
    .edit-btn {
      display: block;
    }
  }
  .box-name {
    font-size: 2.6rem;
  }
}

.info-description {
  padding: rem(7px) 0;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  &:hover {
    .edit-btn {
      display: block;
    }
  }

  .box-description {
    margin: 0;
  }

  textarea {
    width: 100%;
    resize: none;
    border-radius: 5px;
  }
}

.info-creator {
  color: $clr6;
  font-size: 1rem;
}

@media (max-width: 740px) {
  .box-info .info-txt .info-header .box-name {
    font-size: 2.2rem;
  }
}
