.active-boxes-container {
    position: relative;
    z-index: 10;
    padding-top: 80px;
    background-color: $clr1;
}

.active-title {
    text-align: center;
    font-size: 1.3rem;
    color: white;
    margin-bottom: 15px;
    h1 {
        font-family: Righteous;
        font-weight: 400;
    }
}

.connected-users {
    position: absolute;
    z-index: 2;
    top: rem(5px);
    left: rem(5px);
}

.active-boxes {
    padding: rem(10px);
    background-color: $clr2;
    width: fit-content;
    max-width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: center;
}
.active-box {
    position: relative;
    margin: rem(10px);
    transition: 0.8s;

    > *:hover {
        transform: scale(1);
    }

    &:hover {
        transform: scale(1.05);
        .box-preview .box-preview-details .box-data svg {
            fill: $clr3;
        }
    }
}

.live {
    position: absolute;
    z-index: 1;
    width: rem(55px);
    height: auto;
    right: 0;
    top: 0;
}

// @media (max-width: 740px) {
//     .active-box {
//         .box-preview {
//             height: 220px;
//         }
//     }
// }
