.wall-container {
  width: 300px;
  padding: 90px 10px 0 10px;
  position: fixed;
  border-right: 2px solid rgb(28, 30, 33);

  > *{
    width: 280px;
  }
  

  .chat-title {
    text-align: center;
    background-color: $clr2;
    color: white;
    padding: 5px;
    font-size: 1.5rem;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .input-msg {
    position: fixed;
    bottom: 90px;
    font-size: 1rem;
    
  }

  .msgs {
    height: rem(600px);
    overflow-y: scroll;
    overflow-x: hidden;
    

    .msg-text{
      color: #fff;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media (max-width: 720px) {
  .wall-container {
    border-right: initial;
    width: 75vw;

    > * {
      width: 75vw;
    }

    .msgs{
      height: 48vh;
    }

    .input-msg {
      position: fixed;
      bottom: 18vh;

    }
  }
}