.list-container {
  position: relative;
  padding-inline-start: 25px;
  height: 60%;

  .box-list {
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;
    grid-auto-columns: 205px;
    overflow: auto;
    padding: 15px 0 40px 0;
    scroll-behavior: smooth;

    > * {
      align-self: center;
      background-color: #ffffff12;
    }

    &.homepage-list {
      padding-inline-start: rem(125px);
    }


    .list-left-btn,
    .list-right-btn {
      position: absolute;
      background-color: #18191acc;
      color: #fff;
      padding: rem(10px);
      height: 52px;
      width: fit-content;
      z-index: 6;
      border-radius: 0;
      margin: 0 rem(210px);
      align-self: center;
      top: calc(50% - 26px);
    }

    .list-right-btn {
      right: 0;
    }

    .list-left-btn {
      left: 0;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &.full-grid {
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      grid-auto-rows: 250px;
      grid-auto-flow: row;
    }

  
  }
  .genre-filter {
    margin: 0 40px;
    align-items: baseline;
    > * {
      margin: 0 20px;
    }
    .title-genre {
      font-size: 1.8rem;
      padding-inline-start: rem(63px);
    }
    .see-all-genre {
      border: 1px solid white;
      border-radius: 5px;
      padding: 10px;
      font-size: 1rem;
      color: rgb(195, 195, 195);
    }
  }
  
}

@media (max-width: 740px) {
  .list-container {
    padding-inline-start: initial;
    .box-list {
      &.full-grid {
        grid-template-columns: minmax(170px, 1fr) repeat(auto-fill, minmax(170px, 1fr));
        grid-gap: 15px;
        grid-auto-rows: initial;
      }
      &.homepage-list {
        padding-inline-start: initial;
      }
      .list-left-btn,
      .list-right-btn {
        margin: 0;
      }
    }
    .genre-filter {
      .title-genre {
        padding-inline-start: initial;
      }
    }
  }
}
