.box-filter {
  max-width: 300px;
  padding: 8px;
  border-radius: 5px;
  justify-content: space-evenly;
  border-bottom: 1px solid white;
  // transition: 0.7s;
  margin-inline-start: 20px;

  .search-icon {
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      color: $clr3;
    }
  }

  input {
    border-color: white;
    color: white;
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 1.1rem;
    outline: none;
    &::placeholder {
      color: rgba(206, 206, 206, 0.9);
      border-color: white;
    }
  }
}
