.box-preview {
  border-radius: 5px;
  height: rem(220px);
  transition: 0.8s;
  position: relative;
  color: #e0e0e0;

  &:hover {
    transform: scale3d(1.05, 1.05, 1.05);
    color: white;
  }  
  
    .box-preview-details {
      padding: 8px;
      margin: 0 5px;
      height: 33%;;
      // align-items: flex-end;
      .box-data {
        height: 100%;
        .box-name {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 16ch;
          font-size: 1.2rem;
        }
        svg{
          fill: white;
          font-size: 2rem;
        }
      }
    }
   

  .box-preview-img {
    transition: 0.6s;
    img {
      transition: 0.6s;
      width: 100%;
      object-fit: cover;
      height: rem(165px);
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
    }
    &:hover {
      color: rgb(170, 170, 170);
    }
  }

  .active-box {
    height: auto;
    width: 50px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
}
