.wall-container {
  // height: 70%;
  width: 300px;
  padding: 80px 10px 0 10px;
  position: fixed;
  border-right: 2px solid rgb(28, 30, 33);

  .chat-header {
    color: #b7b0b0;
    font-size: 1.2rem;
    border-top: 1px solid #ffffff52;
    .typing-container {
      height: 30px;
      color: gray;
      font-size: 0.8rem;
    }
  }
}
