.box-info {
  min-height: rem(150px);
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  background-color: #ffffff12;

  color: #fff;

  .box-img {
    width: 100%;
    max-height: rem(200px);
    max-width: rem(220px);
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  p {
    max-width: 60ch;
  }

  button {
    background: transparent;
    border: none;
    box-shadow: none;

    svg {
      background: transparent;
      border: none;
      color: white;
      box-shadow: none;
      position: absolute;
      font-size: 1rem;
    }
  }

  .hide-btn {
    display: none;
  }

  .info-header {
    .btn-hide-container {
      width: 50px;
    }
    .box-name {
      font-size: 1.4rem;
    }

    input {
      border: none;
      border-radius: 5px;
      padding: 5px;
      outline: none;
    }

    &:hover {
      .hide-btn {
        display: block;
      }
    }
  }

  .info-description {
    .btn-hide-container {
      width: 50px;
    }
    max-width: 400px;

    .box-description {
      margin: 0;
      font-size: 0.8rem;
    }

    textarea {
      width: 500px;
      // color: white;
      border-radius: 5px;
    }

    &:hover {
      .hide-btn {
        display: block;
      }
    }
  }

  h4 {
    background: #b6b3b8;
    padding: 5px;
    width: max-content;
    border-radius: 5px;
  }

  .info-creator {
    color: darkgray;
    font-size: 1.1rem;
    justify-content: space-evenly;
    width: 175px;
  }

  .info-input-actions {
    > * {
      margin: 5px;
    }

    textarea,
    input,
    select {
      width: 500px;
      border-radius: 5px;
      outline: none;
      padding: 5px;
    }
  }

  .upload-box-img {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .social-params {
    .like {
      cursor: pointer;
      svg {
        font-size: 3rem;
      }
    }

    .liked {
      svg {
        color: #c5565b;
      }
    }
    .share-btns-container {
      width: 100px;
      > * {
        color: #fff;
      }
    }
  }
}
