.chat {
  position: fixed;
  bottom: 80px;
  .form-msg{
    padding: 0;
    background: transparent;
    input{
      flex: 1 1 0%;
      border: none;
      outline: none;
      padding: 15px;
      border-radius: 10px;
    }
    .send-btn{
      padding: 10px;
      background: #ae5284;
      color: white;
    }
  }
}
