.msg {
  .msg-text {
    padding: 5px 10px;
    width: fit-content;
    margin: 5px 10px;
    overflow-wrap: anywhere;
    font-size: 15px;
  }

  .msg-data {
    > * {
      color: #adadad;
      margin: 2px 5px;
    }
  }
  .user-message {
    background: $clr5;
    border-radius: 10px 0 10px 10px;
    margin-left: 50px;
  }
  .not-user-message {
    background: #be5393;
    border-radius: 0 10px 10px 10px;
    margin-right: 50px;
  }
}
