.chat {
  .form-msg {
    padding: 10px; 
    // background-color: transparent;
    div {
      border-radius: 999px;
    }
    .container-send-msg {
      width: 100%;
      .input-chat {
        background-color: white;
        border: none;
        box-shadow: none;
        width: 70%;
        height: 50px;
        font-size: 1.2rem;
        outline: none;
        border-radius: 5px;
      }
    }
  }
  .reactions {
    background: white;
    border-radius: 5px;
  }
}
