footer {
  position: relative;
  min-height: 110px;
  background-color: $clr4;
  color: white;
  width: 100%;
  padding-bottom: 85px;
  z-index: 5;
  // justify-content: flex-end;
  // align-items: flex-end;

  .container {
    height: 100%;
    width: 100%;
    >*{
      margin: 10px;
    }
    .developer{
      box-shadow: -4px 3px 6px #00000036;
      >*{
        margin: 4px;
      }
    }
    // width: 17.5%;
    // text-align: end;
    svg{
      fill: white;
    }
  }

  img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 0 5px;
  }
}
