.btns-filter {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  gap: rem(10px);
  align-items: center;
  overflow: auto;
  // padding: rem(15px) rem(20px);
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }

  .nav-left-btn,
  .nav-right-btn {
    position: sticky;
    background-color: #18191acc;
    color: #fff;
    padding: rem(10px);
    z-index: 6;
    border-radius: 50%;
  }

  .nav-right-btn {
    right: 0;
  }

  .nav-left-btn {
    left: 0;
  }

  .btn-filter {
    font-size: 1.2rem;
    white-space: nowrap;
    font-family: Righteous;
    padding: rem(5px) rem(20px);
    border-radius: 999px;
    color: white;
    transition: 0.3s;
    &:hover {
      box-shadow: 0px 1px 7px rgb(231, 231, 231);
    }
  }

  .active-filter {
    background-color: rgb(68, 68, 68);
    box-shadow: 0px 1px 7px rgb(231, 231, 231);
  }
}

@media (max-width: 740px) {
  .btns-filter {
    .btn-filter {
      font-size: 1.4rem;
    }
  }
}
