header {
    min-height: 90px;
    margin-bottom: 10px;
    position: fixed;
    width: 100%;
    transition: 0.6s;


    >* {
        height: 100%;
        width: 30%;
        
        a {
            color: #fff;
        }
    }
    
    a.logo {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: rem(30px);
        color: #fff;
    }

    &.sticky {
        background-color: $clr3;
        min-height: 50px;
    }
}