header {
  min-height: 70px;
  position: fixed;
  width: 100%;
  transition: 0.6s;
  font-family: Righteous;
  z-index: 29;

  > *:not(:nth-child(4)) {
    height: 100%;
    width: 30%;
  }

  a {
    color: #fff;
    font-size: rem(20px);
  }

  .right-nav {
    min-width: 35%;
    justify-content: flex-end;

    .main-nav {
      max-width: 350px;
      > * {
        padding-inline-end: 30px;
      }
    }
  }

  .user-avatar {
    margin-inline-end: 20px;
  }

  .logo {
    position: absolute;
    width: rem(125px);
    height: auto;
    top: -5px;
    left: rem(86px);
  }

  &.sticky {
    background-color: $clr1;
  }

  .menu-btn {
    width: 40px;
    margin-inline-end: 20px;
    color: white;
    transition: 0.5s;
    background: transparent;
    box-shadow: none;
    display: none;
    svg {
      font-size: 2.5rem;
    }
  }
}

@media (max-width: 740px) {
  header {
    .menu-btn {
      display: block;
    }
  }

  .screen {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 29;
    transition: 0.5s;
    visibility: hidden;

    &.screen-open {
      backdrop-filter: blur(1px);
      visibility: visible;
    }
  }

  header {
    .logo {
      top: 0px;
      left: 5px;
    }
    .right-nav {
      .main-nav {
        flex-direction: column;
        align-items: center;
        position: fixed;
        z-index: -1;
        min-width: 100%;
        background-color: $clr1;
        top: -100%;
        height: 100px;
        overflow: hidden;
        transition: 0.8s;
        > * {
          padding-inline-end: initial;
        }
        &.menu-open {
          transition: 0.5s;
          top: 69px;
        }
      }

      li {
        display: flex;
        width: 90%;
        height: 50%;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        font-size: 1rem;
        transition: background-color 0.3s;
      }

      li:not(:last-child) {
        border-bottom: 1px solid $clr5;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: #fff;
        font-size: 1.5rem;
      }
    }
  }

  .nav-container .main-nav li {
    visibility: visible;
    height: 25%;
    font-size: 1.8rem;
  }
}
