header {
    min-height: 90px;
    margin-bottom: 10px;
    position: fixed;
    width: 100%;
    transition: 0.6s;
    font-family: Righteous;
    z-index: 999;

    >* {
        height: 100%;
        width: 30%;
        
        a {
            color: #fff;
            font-size: rem(20px);
        }
    }
    
    a.logo {
        font-size: rem(40px);
        color: #fff;
    }

    &.sticky {
        background-color: $clr4;
        padding: 10px 0;
        min-height: 50px;
        
    }
}