.global-users-container {
  position: fixed;
  width: rem(300px);
  z-index: 30;
  top: rem(70px);
  .global-users {
    font-size: 0.9rem;
    font-family: Righteous;
    animation: color-change 7s infinite alternate-reverse;
  }
}

.screen {
  position: fixed;
  left: 0;
  top: 100px;
  background-color: rgba(76, 74, 74, 0.6);
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s;
  height: 92vh;
  display: block;
  width: 100vw;
}


header {
  min-height: 70px;
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
  transition: 0.6s;
  font-family: Righteous;
  z-index: 29;

  > *:not(:nth-child(4)) {
    height: 100%;
    width: 30%;

    a {
      color: #fff;
      font-size: rem(20px);
    }
  }

  .right-nav {
    min-width: 35%;
    justify-content: flex-end;
    .main-nav {
      max-width: 350px;
      justify-content: flex-end;
      > * {
        padding-inline-end: 30px;

      }
    }
  }
  .user-avatar {
    margin: 0 20px;
  }
  .logo {
    position: absolute;
    width: rem(125px);
    height: auto;
    top: -5px;
    left: rem(86px);
  }

  &.sticky {
    background-color: $clr1;
    min-height: 70px;
  }

  .avatar-img {
    width: 50px;
    height: 45px;

    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }

    .avatar-name {
      font-size: 0.8rem;
      text-align: center;
      width: rem(100px);
    }
  }

  .menu-btn {
    width: 40px;
    margin-inline-end: 20px;
    padding: 10px;
    font-size: 1.25rem;
    color: white;
    transition: 0.5s;
    background: transparent;
    border: 0;
    box-shadow: none;
    svg{
      font-size: 2.5rem;
    }
  }
}

@media (min-width: 740px) {
  header {
    .menu-btn {
      display: none;
    }
  }
}

@media (max-width: 740px) {
  .screen-open {
    opacity: 1;
    visibility: visible;
  }  
  .global-users-container {
    width: initial;
    top: 57px;
    left: 5px;
  }
  header {
    .logo {
      top: 0px;
      left: 5px;
    }
    .right-nav {
      .main-nav {
        flex-direction: column;
        align-items: center;
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 100%;
        background-color: #18191a;
        margin-inline-start: 0;
        transform: translateY(70px);
        height: 0px;
        overflow: hidden;
        transition: transform 0.8s, box-shadow 0.8s;
        transition: height 0.5s;
        &.menu-open {
          height: 20%;
          transition: height 0.5s;
        }
      }

      li {
        display: flex;
        width: 90%;
        height: 50%;

        align-items: center;
        justify-content: center;
        background-color: transparent;
        font-size: 1rem;
        transition: background-color 0.3s;
      }

      li:not(:last-child) {
        border-bottom: 1px solid $clr5;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: #fff;
        font-size: 1.5rem;
      }
    }
  }

  .nav-container .main-nav li {
    visibility: visible;
    height: 25%;
    font-size: 1.8rem;
  }
}