// .modal {
//     position: fixed;
//     top: 20%;
//     left: 30%;
//     width: 500px;
//     height: 400px;
//     text-align: center;
//     font-size: 1.8rem;
//     z-index: 5;
//     padding: 10px;
//     visibility: hidden;
//     border-radius: 50px;
// }

.login-page {
  padding-top: 200px;
  width: 500px;
  margin: 0 auto;

  .input-login {
    >*{
      margin: 5px;
      background: #28292a;
      border: 1px solid white;
      color: white;
      padding: 5px;
      // width: 50%;
    }
    .box-img {
      margin: 0 auto;
      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
}
