.song-list {
    min-height: rem(300px);
    background-color: #ffffff12;

    ul {
        overflow-y: scroll;
        max-height: rem(400px);
        

        li {
            // border-bottom: 1px solid #999;
            width: 100%;
            min-height: rem(50px);
            margin-bottom: 5px;
            border-radius: 5px;
            background-color: #ffffff12;
        }
    }


    .songPick {
        min-width: 30%;
    }
}