.song-preview {
    cursor: pointer;
    transition: color 0.3s;

    .song-preview-img {
        max-width: 60px;
        margin: 5px;

        img {
            width: 100%;
            height: 100%;
            padding: 5px;
            margin: 0 2px;
        }
    }

    .song-preview-btns {
        margin-inline-end: 20px;

        button {
            background-color: transparent;
            border: none;
            color: #fff;
        }
        .remove-song-btn {
            padding: 5px;
            &:hover {
                animation: wobble-ver-right 1s;
            }
        }
    }

    &:hover {
        color: #cdcdcdfc;
        background-color: #6e6d6d6e;
        font-size: rem(14.5px);
    }
}

.now-playing {
    color: $clr3;
}

.playing-anim {
    width: 40px;
    height: auto;
}
