.song-pick {
    position: relative;
    width: 0;
    transition: 0.6s;
    background-color: $clr1;
    overflow-y: auto;


    &::-webkit-scrollbar {
        display: none;
      }

    .song-pick-msg {
        color: white;
        font-size: 1.1rem;
        padding-top: 15px;
    }

    &.opened {
        max-width: 80%;
        width: 50%;
    }

    .song-pick-result {
        padding: 0px 5px;
        align-items: center;
        width: 100%;
        cursor: pointer;
        text-overflow: ellipsis;
        transition: 0.3s;
        background-color: #ffffff12;
        margin-bottom: 5px;
        img {
            width: 25%;
            height: 100%;
            padding: 5px;
        }
        &:hover {
            color: #cdcdcdfc;
            background-color: #6e6d6d6e;
        }
    }

    input{
        outline: none;
        border: none;
        width: 100%;
        background-color: white;
        font-size: 1.1rem;
        padding: 10px 25px 10px 10px;
        border-radius: 999px;
        margin-bottom: 5px;
    }
  
}
