.song-pick-container {
    width: 0;
    transition: 0.6s;
    max-width: 400px;
    &.opened {
        width:100%;
    }
}
.song-pick {
    position: relative;
    width: 0;
    transition: 0.6s;
    background-color: $clr1;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    .song-pick-msg {
        color: white;
        font-size: 1.4rem;
        font-weight: 600;
        padding-top: 50px;
    }

    &.opened {
        width: 100%;
    }

    .song-pick-result {
        padding: 0px 5px;
        align-items: center;
        width: 100%;
        cursor: pointer;
        text-overflow: ellipsis;
        transition: 0.3s;
        background-color: #ffffff12;
        margin-bottom: 5px;
        color: $clr6;
        img {
            width: 15%;
            height: 100%;
            padding: 5px;
        }
        &:hover {
            color: #cdcdcdfc;
            background-color: #6e6d6d6e;
        }
    }

    input {
        outline: none;
        border: none;
        width: 100%;
        background-color: white;
        font-size: 1.1rem;
        padding: 10px 25px 10px 10px;
        border-radius: 999px;
        margin-bottom: 5px;
    }
}
// @media (max-width: 1000px) {
//     .song-list {
//         position: initial;
//     }
//     .song-pick-container {
//         position: fixed;
//         &.opened {
//             max-width: initial;
//             z-index: 3;
//         }
//         .song-pick {
//             height: 0px;
//             &.opened {
//                 bottom: 73px;
//                 margin-top: 0px;
//                 height: calc(100% - 16vh);
//                 background: #000000;
//             }
//             .song-pick-msg {
//                 margin-top: 50px;
//                 padding-top: initial;
//             }
//         }

//         .song-pick-result {
//             background-color: $clr1;
//         }

//         input {
//             border-radius: 0;
//             padding: 15px 25px 15px 75px;
//             font-size: 1.3rem;
//             margin: 0;
//         }
//     }
// }
