.song-pick {

    // display: none;

    width: 0;
    transition: 0.6s;

    max-height: 25rem;
    overflow-y: auto;


    &.opened {
        max-width: 80%;
        width: 40%
    }

    .song-pick-result {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        cursor: pointer;
        text-overflow: 30ch;

        img {

            width: 25%;
            height: 100%;
            padding: 5px;
        }
    }

    input {
        width: 100%;
        outline: none;
        border: none;
        background-color: #ffffff12;
        color: #fff;
        padding: 10px;
        border-radius: 999px;
    }
}