.song-list {
    background-color: $clr1;
    min-height: rem(300px);
    position: relative;

    ul {
        overflow-y: visible;
        width: 100%;
        height: 100%;

        li {
            // border-bottom: 1px solid #999;
            width: 100%;
            height: 100%;
            // min-height: rem(50px);
            margin-bottom: 5px;
            border-radius: 5px;
            // background-color: #ffffff12;

            h3{
                overflow: hidden;
                text-overflow: ellipsis;
                color: #ccc;
            }
        }
    }

   }










.remove-song {
    position: fixed;
    bottom: 90px;
    padding: 50px;
    left: calc(30% - 50px);
    z-index: 9999;
    animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    &:hover {
        transition: 0.2s;
        animation: wobble-ver-right 0.5s;
        & > * {
            color: red !important;
        }
    }
}
