.user-details {
  padding-top: 80px;
  padding-bottom: 120px;
  color: white;

  h2 {
    margin: 0 0 20px 40px;
  }

  > * {
    padding: 1rem 0;
  }

  .user-info {
    text-align: center;
  }
  .img-user {
    border-radius: 999px;
    width: 200px;
    height: 200px;
  }
}
